@model PizzaStore.Client.Models.PizzaViewModel

 
@using(Html.BeginForm("PlaceOrderRegular", "Order", null, FormMethod.Post))
{
  @Html.DropDownListFor(m => Model.Crust,new SelectList(Model.Crusts),"Crust");

  @Html.DropDownListFor(m => Model.Size, new SelectList(Model.Sizes));

  @for(int i = 0;i<Model.Toppings2.Count;i++)
  {
    @Html.CheckBoxFor(m => m.Toppings2[i].IsSelected);
    @Html.DisplayFor(m => m.Toppings2[i].Name);
    @Html.HiddenFor(m => m.Toppings2[i].Text);
    
  }
  @Html.DropDownListFor(m => @Model.User, new SelectList(Model.Users));

  @Html.DropDownListFor(m => @Model.Store, new SelectList(Model.Stores));
  <button type="submit">place order</button>
}
@using(Html.BeginForm("PlaceOrderSpecial", "Order", null, FormMethod.Post))
{
  @Html.DropDownListFor(m => @Model.Crust, new SelectList(Model.Crusts));

  @Html.DropDownListFor(m => Model.Size, new SelectList(Model.Sizes));

  @Html.DropDownListFor(m => Model.SelectedPizza, new SelectList(Model.SpecialtyPizzas));

  @Html.DropDownListFor(m => Model.User, new SelectList(Model.Users));
  
  @Html.DropDownListFor(m => Model.Store, new SelectList(Model.Stores));

  <button type="submit">place order</button>
}