@model PizzaStore.Client.Models.PizzaViewModel

 
@using(Html.BeginForm("PlaceOrderRegular", "Order", null, FormMethod.Post))
{
  @Html.AntiForgeryToken();
  @Html.DropDownListFor(m => m.Crust, new SelectList(Model.Crusts));

  @Html.DropDownListFor(m => m.Size, new SelectList(Model.Sizes));

  foreach (var topping in Model.Toppings2)
  {
    @Html.CheckBoxFor(m => topping.IsSelected, new { name = "selectedtoppings2", value = topping.Text });
    @Html.DisplayFor(m => topping.Text);
    @Html.HiddenFor(m => m.SelectedToppings2)
  }
  
  <button type="submit">place order</button>
}
@using(Html.BeginForm("PlaceOrderSpecial", "Order", null, FormMethod.Post))
{
  @Html.DropDownListFor(m => m.Crust, new SelectList(Model.Crusts));

  @Html.DropDownListFor(m => m.Size, new SelectList(Model.Sizes));

  @Html.DropDownListFor(m => m.SelectedPizza, new SelectList(Model.SpecialtyPizzas));

  
  <button type="submit">place order</button>
}