@model PizzaStore.Client.Models.PizzaViewModel

 
@using(Html.BeginForm("PlaceOrderRegular", "Order", null, FormMethod.Post))
{
  @if(Model.Crusts != null)
  {
    <p>there are crusts</p>
  }
  @Html.DropDownListFor(m => Model.Crust,new SelectList(Model.Crusts));

  @Html.DropDownListFor(m => Model.Size, new SelectList(Model.Sizes));

  foreach (var topping in Model.Toppings2)
  {
    @Html.CheckBoxFor(m => topping.IsSelected, new { name = "selectedtoppings2", value = topping.Text });
    @Html.DisplayFor(m => topping.Text);
    @Html.HiddenFor(m => Model.SelectedToppings2)
  }

  @Html.DropDownListFor(m => @Model.User, new SelectList(Model.Users));

  @Html.DropDownListFor(m => @Model.Store, new SelectList(Model.Stores));

  <button type="submit">place order</button>
}
@using(Html.BeginForm("PlaceOrderSpecial", "Order", null, FormMethod.Post))
{
  @Html.DropDownListFor(m => @Model.Crust, new SelectList(Model.Crusts));

  @Html.DropDownListFor(m => Model.Size, new SelectList(Model.Sizes));

  @Html.DropDownListFor(m => Model.SelectedPizza, new SelectList(Model.SpecialtyPizzas));

  @Html.DropDownListFor(m => Model.User, new SelectList(Model.Users));
  
  @Html.DropDownListFor(m => Model.Store, new SelectList(Model.Stores));

  
  <button type="submit">place order</button>
}